@import "helpers/variables";
@import "helpers/mixins";
@import "helpers/functions";
@import "vendor/libs";
@import "base/fonts";
@import "base/general";
@import "../blocks/modules";

$main-color: #696980;
$light-color: #fff;
$accent-color: #65e496;

body {
    /* font-family: 'Open Sans', sans-serif; */
    font-family: 'Roboto Slab', serif;
    color: $main-color;
}
.wrap {
    max-width: 1170px;
    margin: 0 auto;
}

.page-main {
    background-image: url(../img/bg-main.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: $light-color;
    padding-bottom: 160px;
}
.page {
    padding-top: 160px;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1170px;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 181px;
    &__logo {
        display: block;
        background-image: url(../img/logo.svg);
        background-repeat: no-repeat;
        width: 137px;
        height: 28px;
    }
    &-list {
        list-style-type: none;
        display: flex;
        justify-content: flex-end;
        font-family: 'Open Sans', sans-serif;
        &__item {
            margin-left: 22px;
            padding-bottom: 5px;
            border-bottom: 3px solid transparent;
            transition: .3s;
            &:hover {
                border-bottom: 3px solid $accent-color;
            }
        }
        &__item.active {
            border-bottom: 3px solid $accent-color;
        }
        &__link {
            color: $light-color;
            text-decoration: none;
            letter-spacing: 0.5px;
        }
    }
}

.block-text {
    flex-basis: calc(93% - 500px);
    &__name {
        font-family: 'Open Sans', sans-serif;
        font-size: 18px;
        letter-spacing: 0.9px;
        margin-top: 0px;
        margin-bottom: 30px;
        &-top {
            margin-top: 17px;
            margin-bottom: 20px;
            margin-left: 0;
        }
    }
    &__title {
        font-size: 48px;
        font-weight: 700;
        letter-spacing: 1.6px;
        margin-bottom: 40px;
        span {
            display: block;
            color: $accent-color;
            font-size: 18px;
            letter-spacing: 0.8px;
            padding-top: 10px;
        }
    }
    &__description {
        font-family: 'Open Sans', sans-serif;
        font-size: 15px;
        line-height: 24px;
        letter-spacing: 0.75px;
        margin-bottom: 24px;
    }
    &__btn {
        display: block;
        background-color: $accent-color;
        color: $light-color;
        text-decoration: none;
        max-width: 250px;
        border-radius: 3px;
        text-align: center;
        font-size: 18px;
        margin-top: 48px;
        padding: 14px 0;
        letter-spacing: 0.7px;
        margin-bottom: 19px;
    }
    small {
        font-family: 'Open Sans', sans-serif;
        font-style: italic;
        font-size: 12px;
        letter-spacing: 0.5px;
    }
}

.block-book {
    display: flex;
    justify-content: flex-start;
    &-demo {
        display: block;
        background-image: url(../img/book.svg);
        background-repeat: no-repeat;
        background-clip: 445px 639px;
        width: 445px;
        height: 639px;
        flex-basis: 500px;
    }
}
.block-author {
    display: flex;
    justify-content: space-between;
}
.block-ava {
    position: relative;
    &__svg {
        position: absolute;
        right: 0;
        z-index: -1;
    }
    &__img {
        margin-top: 48px;
        margin-right: 45px;
    }
}

.block-counter {
    padding-top: 160px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    p {
        font-family: 'Open Sans', sans-serif;
        font-size: 18px;
        span {
            display: block;
            font-family: 'Roboto Slab', serif;
            font-size: 80px;
            font-weight: 100;
            color: $accent-color;
            margin-bottom: 15px;
        }
    }
}